<footer style="width: 100%; color: #2ecc71; display: block; text-align: center; padding: 5px; margin: auto; font-size: 15px;">
    <div>
      <p>© 2024 Safari Trabzon. All rights reserved.</p>
      Page <span style="font-size: 12px;" class="pageNumber">2</span> of <span style="font-size: 12px;" class="totalPages">2</span>
    </div>
</footer>
