
<footer style="width: 80%;color: #2ecc71; padding: 5px;vertical-align: middle;font-size: 15px;">
  <div class="content-footer">
    <p>&copy; 2024 Safari Trabzon. All rights reserved.</p>
    Page <span class="pageNumber"></span> of <span class="totalPages"></span>
  </div>
</footer>
