<footer style="width: 80%; color: #2ecc71; display: inline-block; text-align: center; padding: 5px; vertical-align: middle; font-size: 15px;">
    <div class="content-footer">
      <p>© 2024 Safari Trabzon. All rights reserved.</p>
      Page <span style="font-size: 12px; color: #000000;" class="pageNumber"></span> of <span class="totalPages"></span>
    </div>
  </footer>
  