<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://generate-pdf-9abs.onrender.com/css/style.css">
    <title>Quotation Report - <%= quotation.customer_name %></title>

</head>
<body>
    <%- include('/partials/header', { quotation: quotation }) %>
    <%- include('/partials/body', { accommodation: accommodation, flights: flights, transportation: transportation, terms: terms }) %>
</body>
</html>
