<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Quotation Report</title>

</head>
<body>
    <%- include('/partials/header', { quotation: quotation }) %>
    <%- include('/partials/body', { accommodation: accommodation, flights: flights, transportation: transportation, terms: terms }) %>
    <%- include('/partials/footer') %>
</body>
</html>
